@import 'theme-colours';

* {
  font-family: serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--app-background-color);
  color: var(--primary);
}
